.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 80vh;
  padding: 0 2rem;
  background: var(--secondary-color);
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

